<div class="job-detail">
    <div class="title">
        Job #{{job.id}}
        {{#x-select value=job.selected}}
          {{#each selections as |selection|}}
            {{#x-option value=selection}}{{selection}}{{/x-option}}
          {{/each}}
        {{/x-select}}

        <button class="btn-more" {{action "goToJob" job}}>More</button>
    </div>

    {{#if job.error}}
        <div class="error">
          <div class="title">Error</div>
          <div class="error-output">
            {{format-error job.error}}
          </div>
        </div>
    {{/if}}

      <a href="javascript:void(0)" class="btn show-logs" {{action "switchView"}}>
        {{#if showLogs}}
          Show content
        {{/if}}
        {{#unless showLogs}}
          Show logs
        {{/unless}}
      </a>

  {{#if showLogs}}
    <div class="log">
      <div class="title">Log</div>
        {{#each log as |row|}}
          {{{row}}}
        {{/each}}
    </div>
    {{/if}}

    {{#unless showLogs}}
    <div class="console">
      <div class="title">Content</div>
      <pre>{{json-pretty data=job}}</pre>
    </div>
    {{/unless}}

    <button class="btn-remove" {{action "removeJob" job}}>Delete</button>
</div>
